import Base from "../../layouts/Base.astro";
import { metaData } from "../../config";

<Base title="Page Title" description="This page has no blog posts.">
  <section>
    <h1 class="title mb-3 font-medium text-2xl tracking-tight">
      Welcome to My Website
    </h1>
    <p class="text-sm text-neutral-600 dark:text-neutral-400">
      This page is no longer a blog.
    </p>
  </section>
</Base>
